<header>
  <h2>The Daily Questions</h2>
</header>

<div class="question-list">
  <ul>
    <% @questions.each do |question| %>
      <li><%= question.show_month %>/<%= question.show_day %> - <%= link_to question.question, question %> </li>
    <% end %>
  </ul>
</div>
