<header>
  <!-- <h2>Tagged Answers:</h2> -->


  <h2>List of Daily Questions</h2>
</header>

<div class="question-list">
  <ul>
    <% @questions.each do |question| %>
      <li><%= link_to question.question, question %> (<%= question.show_month %>/<%= question.show_day %>)</li>
    <% end %>
  </ul>
</div>
