<h2>Welcome <%= @user.user_name %></h2>

<!-- <h3>Profile</h3>
<ul>
  <li></li>

</ul> -->

<h3>Your Questions and Answers</h3>

<% @user.questions.uniq.each do |question| %>
  <div class="answer"><%= question.question %> </div>
    <% question.answers.each do |answer| %>
  <div class="answer"><%= answer.answer %> <%= answer.created_at.strftime("(%Y)") %></div>
  <% end %>
<% end %>





