<header class="dailyq">  
  <h1><%= @daily.question %></h1>


  <% if user_signed_in? %>
      <%= render 'form' %>
      <% else %>
      <h2>Please <%= link_to 'Sign In', new_user_session_path %> to submit an answer.</h2>
  <% end %>

  
</header>


